@import url('@/settings/global.css');
@import url('@/settings/config.less');

.MediumLeft {
  @apply relative h-full w-full bg-cover bg-center;

  &::before {
    background-image: url('./img/tmp-left.jpg');
    content: '';

    @apply inline-block h-full w-full bg-cover bg-center bg-no-repeat;
  }
}

.MediumRight {
  line-height: 0;
  @apply relative h-full w-full bg-cover bg-center;

  &::before {
    background-image: url('./img/tmp-right.jpg');
    content: '';

    @apply inline-block h-full w-full bg-cover bg-center bg-no-repeat;
  }
}
