@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Entry {
  padding-right: @InnerBorder;

  gap: @InnerBorder;

  @apply relative flex h-full w-full flex-row;

  .mobile {
    @apply h-full w-full overflow-hidden rounded-4xl bg-cover bg-center bg-no-repeat;
  }

  .h1 {
    width: 384 / 420 * 100%;

    @img: './img/h1.svg';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }
  }

  .h2 {
    width: 400 / 420 * 100%;

    @img: './img/h2.svg';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }
  }

  .h3 {
    width: 236 / 420 * 100%;

    @img: './img/h3.svg';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }
  }

  .cta {
    padding-right: 9%;
    padding-left: 12%;
    width: (unit(image-width(@img))) / 450 * 100%;

    padding-block: 3%;
    gap: 10%;
    @img: './img/h1.svg';

    @apply flex h-full w-full flex-row items-center justify-center;

    .cta-name {
      width: 55%;
      line-height: 0;

      @img: './img/cta.svg';

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        content: '';

        @apply inline-block w-full bg-contain bg-center bg-no-repeat;
      }
    }

    .cta-arrow {
      width: 5%;
      line-height: 0;

      @img: '../../../img/arrow.svg';

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        content: '';

        @apply inline-block w-full bg-contain bg-center bg-no-repeat;
      }
    }
  }

  .description {
    width: 90%;

    @img: './img/d.svg';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }
  }
}
