@import 'tailwindcss';
@plugin 'daisyui' {
  themes: all;
}

@theme {
  --color-primary: #ff6c5a;
  --color-secondary: #889765;
  --color-accent: #6f82ff;
  --color-base-100: #edceca;
  --color-base-200: #cbd1c2;
  --color-base-300: #d5d4e7;

  /* Pixel Campaign Palette */
  --color-canyon-light: #edceca;
  --color-olive-light: #cbd1c2;
  --color-frost-light: #d5d4e7;

  /* MBG Palette */
  --color-canyon-medium: #ff6c5a;
  --color-canyon-highlight: #ff2e18;
  --color-canyon-dark: #430012;

  --color-olive-medium: #889765;
  --color-olive-highlight: #e4f03f;
  --color-olive-dark: #23291a;

  --color-frost-medium: #6f82ff;
  --color-frost-highlight: #394dfc;
  --color-frost-dark: #060b44;

  /* Neutrals */
  --color-black: #000000;
  --color-white: #ffffff;

  --height-upper: calc(492 / 1820 * 100%);
  --height-medium: calc(460 / 1820 * 100%);

  --font-noto-sans-tc: 'Noto Sans TC', sans-serif;
  --font-google-sans: 'Google Sans', sans-serif;

  --animate-entry: entry 1s cubic-bezier(0.37, 0, 0.63, 1) infinite;
  --animate-fade-in: fadeIn 1s ease-out forwards;
}
