@import url('@/settings/global.css');

.Qrcode {
  @apply flex h-full w-full justify-center;

  .logo {
    bottom: 3%;
    width: 273/980 * 100%;

    @img: '../../../img/google-logo.svg';
    @apply absolute;

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }
  }

  .inner {
    width: 670 / 980 * 100%;

    gap: 2%;
    @apply h-full flex-col items-center justify-center;

    & > div {
      @apply w-full;
    }

    .codes {
      @apply flex flex-row items-center justify-between gap-4;

      & > div {
        width: 295 / 680 * 100%;

        .txt {
          @apply relative flex w-full flex-col items-center justify-center;

          & > div:nth-child(1) {
            width: 85 / 295 * 100%;

            @img: './img/d.svg';

            &::before {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
              background-image: url(@img);
              content: '';

              @apply inline-block w-full bg-contain bg-center bg-no-repeat;
            }
          }

          .t1 {
            width: 258 / 295 * 100%;

            @img: './img/t1.svg';

            &::before {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
              background-image: url(@img);
              content: '';

              @apply inline-block w-full bg-contain bg-center bg-no-repeat;
            }
          }

          .t2 {
            width: 192 / 295 * 100%;

            @img: './img/t2.svg';

            &::before {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
              background-image: url(@img);
              content: '';

              @apply inline-block w-full bg-contain bg-center bg-no-repeat;
            }
          }
        }
      }
    }

    .welcomeTo {
      line-height: 0;

      padding-block: 3%;
      @apply animate-fade-in flex w-full justify-center overflow-hidden border-t border-b border-white;

      & > div {
        width: 652 / 680 * 100%;

        @img: './img/t3.svg';

        &::before {
          padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
          background-image: url(@img);
          content: '';

          @apply inline-block w-full bg-contain bg-center bg-no-repeat;
        }
      }
    }

    .countDown {
      margin-bottom: 2%;
      @apply flex w-full justify-center;

      & > div {
        font-size: 5vh;
        line-height: 5vh;
        @apply font-google-sans font-black text-white;
      }
    }

    .footer {
      bottom: 3%;
      width: 273/980 * 100%;

      @img: '../../../img/google-logo.svg';
      @apply absolute;

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        content: '';

        @apply inline-block w-full bg-contain bg-center bg-no-repeat;
      }
    }
  }
}
