@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Prompt {
  @apply flex h-full w-full flex-col items-center justify-center gap-10 overflow-hidden;

  .dialog {
    padding-top: 2%;
    min-height: 100%;
    width: 85%;
    height: auto;
    background-color: #222322;

    @apply flex flex-col items-center justify-center overflow-hidden rounded-2xl;

    & > div {
      @apply font-noto-sans-tc flex w-full flex-row items-start justify-start font-light text-white;
    }

    & > div:nth-child(1) {
      padding: 3% 8%;
      line-height: 0;

      gap: 0;

      span {
        display: block;
        padding: 0;
        @apply text-3xl;
      }

      @apply flex flex-1 flex-wrap content-start items-start justify-start leading-1 whitespace-normal;
    }

    & > div:nth-child(2) {
      padding: 0% 5%;
      @apply flex flex-row items-center justify-between;

      .menu {
        gap: 4%;

        @apply flex flex-1 flex-row items-center justify-start;

        .add {
          width: 7%;

          @img: './img/add.svg';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: url(@img);
            content: '';

            @apply inline-block w-full bg-contain bg-center bg-no-repeat;
          }
        }

        .type {
          width: 36%;

          @img: './img/type.svg';

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: url(@img);
            content: '';

            @apply inline-block w-full bg-contain bg-center bg-no-repeat;
          }
        }
      }

      .mic {
        width: 5%;

        @img: './img/mic.svg';

        &::before {
          padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
          background-image: url(@img);
          content: '';

          @apply inline-block w-full bg-contain bg-center bg-no-repeat;
        }
      }
    }
  }
}
