@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Webcam {
  padding: @InnerBorder 0 @InnerBorder @InnerBorder;

  gap: @InnerBorder;

  @apply relative flex h-full w-full flex-row;

  .video {
    @apply relative flex h-full w-full items-center justify-center overflow-hidden rounded-2xl object-cover object-center;

    & > video {
      transform: scaleX(-1);
    }
  }
}
