@import url('@/settings/global.css');
@import url('@/settings/config.less');

.ShootingPosition {
  gap: 3%;
  @apply flex h-full w-full flex-col items-center justify-center;

  .h1 {
    width: 400 / 494 * 100%;

    @img: './img/h1.svg';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }
  }

  .h2 {
    width: 450 / 494 * 100%;

    @img: './img/h2.svg';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }
  }

  .cta {
    padding-right: 9%;
    padding-left: 12%;
    width: 403 / 521 * 100%;

    padding-block: 3%;
    gap: 10%;
    @img: './img/h1.svg';

    @apply relative flex h-full w-full flex-row items-center justify-center;

    & > div:nth-child(1) {
      width: 213 / 403 * 100%;
      line-height: 0;

      @img: './img/cta.svg';

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        content: '';
        @apply inline-block w-full bg-contain bg-center bg-no-repeat;
      }
    }

    & > div:nth-child(2) {
      width: 6%;
      line-height: 0;

      @img: '../../../../../img/arrow.svg';

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        content: '';

        @apply inline-block w-full bg-contain bg-center bg-no-repeat;
      }
    }

    &:active {
      @apply bg-canyon-light;
    }
  }
}
