@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Game {
  @apply flex h-full w-full items-center justify-center overflow-hidden bg-white;

  & > .inner {
    padding: @OuterBorder;
    width: 1080px;
    height: 1920px;
    transform-origin: center center;
    @apply absolute flex flex-col;
  }
}
