@import url('../../tailwind.config.css');
@import url('./animation.less');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;

  text-size-adjust: none;
  overscroll-behavior: none;
}

.App {
  position: absolute;
  width: 100%;
  height: 100%;
}

.safe-vh {
  height: 100vh;
  height: 100dvh;
}
